*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  margin: 0;
  margin-bottom: 0.625rem;
}

.heading {
  font-weight: 400;
  text-align: center;
}

#root {
  height: 100%;
}

.fade {
  &-enter {
    opacity: 0.01;
  }

  &-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
  }

  &-exit {
    opacity: 1;
  }
  
  &-exit-active {
    opacity: 0.01;
    transition: all 300ms ease-out;
  }
}